<div class="booster-container">
  <div class="booster bg-steel">
    <div class="img-bg teeth-texture booster-bg">
      <div class="waves-1 short-img mirror-y"></div>
    </div>
  </div>
</div>

<style>
  .booster-container {
    display: flex;
    height: 12.46%;
    justify-content: center;
    width: 100%;
  }

  .booster {
    height: 100%;
    position: relative;
    width: 75.47%;

    div {
      position: absolute;
    }
  }

  .booster-bg {
    background-color: rgba(102, 101, 100, 0.568);
    background-size: 200%;
  }

  .short-img {
    width: 100%;
    height: 25%;
  }
</style>
