<div class="emitter-container">
  <div class="bg-steel emitter-top"></div>
  <div class="emitter-1 bg-steel"></div>
  <div class="emitter-2 bg-steel">
    <div class="img-bg mix-texture">
      <div class="waves-1 short-img mirror-y"></div>
    </div>
  </div>
  <div class="emitter-3 bg-steel">
    <div class="img-bg mix-texture mirror-x">
      <div class="waves-1 short-img mirror-y"></div>
    </div>
  </div>
  <div class="emitter-4 bg-steel">
    <div class="img-bg mix-texture">
      <div class="waves-1 img-bg mirror-y"></div>
    </div>
  </div>
</div>

<style>
  .emitter-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 9.25%;
    position: relative;
    width: 100%;
  }

  .emitter-top {
    position: absolute;
    width: 33.96%;
    height: 23.08%;
    top: -23.08%;
  }

  .emitter-1 {
    height: 4.76%;
    width: 100%;
  }

  .emitter-2 {
    height: 23.08%;
    width: 77.36%;
  }

  .emitter-3 {
    height: 53.85%;
    width: 67.92%;
  }

  .emitter-4 {
    height: 19.23%;
    width: 49.06%;
  }

  .short-img {
    width: 100%;
    height: 50%;
  }
</style>