<footer>
  <div class="guide">
    <p>Click the hilt to turn on / off.</p>
    <p>Mouse wheel for zoom.</p>
  </div>
  <div class="rrss">
    <a href="https://github.com/fedev95" target="_blank"><i class="bi bi-github"></i> fedev</a>
  </div>
</footer>

<style>
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

  footer {
    align-items: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    gap: 5px;
    padding-bottom: 10px;
    position: relative;
  }

  .guide {
    display: flex;
    gap: 20px;
  }

  .rrss {
    align-items: center;
    display: flex;

    a {
      color: aliceblue;
      display: flex;
      font-size: medium;
      gap: 5px;
      padding: .5rem;
      text-decoration: none;
    }

    a:hover {
      scale: 1.2;
    }
  }
</style>