---
import Blade from "./Blade.astro";
import Booster from "./Booster.astro";
import Clamp from "./Clamp.astro";
import Emitter from "./Emitter.astro";
import Grenade from "./Grenade.astro";
import Neck from "./Neck.astro";
import Pommel from "./Pommel.astro";
---

<div id="hilt-container" class="hilt-container">
  <div class="aux">
    <button id="power-btn" autofocus></button>
    <Blade></Blade>
    <Emitter></Emitter>
    <Neck></Neck>
    <Grenade></Grenade>
    <Clamp></Clamp>
    <Booster></Booster>
    <Pommel></Pommel>
  </div>
</div>

<style>
  #power-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    outline: none;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  .hilt-container {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    transition-duration: 0.5s;
  }

  .aux {
    aspect-ratio: 53/281;
    height: 100%;
    max-height: 27.5cm;
    position: relative;
    width: 100%;
  }
</style>