---
import Blade from "./Blade.astro";
import Booster from "./Booster.astro";
import Clamp from "./Clamp.astro";
import Emitter from "./Emitter.astro";
import Grenade from "./Grenade.astro";
import Neck from "./Neck.astro";
import Pommel from "./Pommel.astro";
---

<div id="hilt-container" class="hilt-container">
  <button id="power-btn"></button>
  <Blade></Blade>
  <Emitter></Emitter>
  <Neck></Neck>
  <Grenade></Grenade>
  <Clamp></Clamp>
  <Booster></Booster>
  <Pommel></Pommel>
</div>

<style>
  #power-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    outline: none;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  .hilt-container {
    aspect-ratio: 53/281;
    background-color: transparent;
    height: 100%;
    position: relative;
    transition-duration: 0.5s;
  }
</style>