<div class="neck-container">
  <div class="neck-1 bg-dark-gradient"></div>
  <div class="neck-2 bg-dark-gradient"></div>
  <div class="neck-3 bg-dark-gradient"></div>
  <div class="neck-4 bg-steel">
    <div class="img-bg waves">
      <div class="img-bg waves-2 mirror"></div>
    </div>
  </div>
  <div class="neck-5 bg-steel"></div>
  <div class="neck-6 bg-dark-gradient">
  </div>
  <div class="neck-7 bg-dark-gradient"></div>
</div>

<style>

  .waves-r {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }

  .neck-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 16.01%;
    width: 100%;
  }

  .neck-1 {
    height: 17.78%;
    width: 32.08%;
  }

  .neck-2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 4.44%;
    width: 28.3%;
  }

  .neck-3 {
    height: 13.33%;
    width: 32.08%;
  }

  .neck-4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 24.44%;
    width: 60.38%;
    
  }

  .neck-5 {
    height: 6.67%;
    width: 69.81%;
  }

  .neck-6 {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    height: 8.89%;
    width: 47.17%;
  }

  .neck-7 {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 24.44%;
    width: 33.96%;
  }

</style>