<div class="pommel-container">
  <div class="pommel-1 bg-steel"></div>
  <div class="pommel-2 bg-steel"></div>
  <div class="pommel-3">
    <div class="outer-grip bg-grip">
      <div class="top-grip-skew grip-skew bg-grip"></div>
      <div class="bot-grip-skew grip-skew bg-grip"></div>
    </div>
    <div class="inner-grips-container bg-steel">
      <div class="pommel-tint"></div>
      <div class="inner-grip">
        <div class="side-skews">
          <div class="grip-skew inner-top-grip-skew bg-grip"></div>
          <div class="grip-skew inner-bot-grip-skew bg-grip"></div>
        </div>
        <div class="top-skew"></div>
        <div class="middle-square mirror-x"></div>
        <div class="bot-skew"></div>
      </div>
      <div class="inner-grip mirror-x">
        <div class="side-skews">
          <div class="grip-skew inner-top-grip-skew bg-grip"></div>
          <div class="grip-skew inner-bot-grip-skew bg-grip"></div>
        </div>
        <div class="top-skew"></div>
        <div class="middle-square mirror-x"></div>
        <div class="bot-skew"></div>
      </div>
    </div>
    <div class="outer-grip bg-grip mirror-x">
      <div class="top-grip-skew grip-skew bg-grip"></div>
      <div class="bot-grip-skew grip-skew bg-grip"></div>
    </div>
  </div>
  <div class="pommel-4 bg-steel"></div>
</div>

<style>
  .pommel-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 13.17%;
    width: 100%;
  }

  .pommel-1 {
    height: 18.92%;
    width: 66.04%;
  }

  .pommel-2 {
    outline: 1px solid rgb(116, 116, 116);
    width: 67.92%;
    height: 6.67%;
  }

  .pommel-3 {
    height: 54.05%;
    position: relative;
    width: 94.34%;
    display: flex;
    align-items: center;
  }

  .pommel-4 {
    height: 21.62%;
    width: 67.92%;
  }

  .outer-grip {
    height: 65%;
    width: 10%;
  }

  .bg-grip {
    background: linear-gradient(90deg, rgba(181,181,181,1) 0%, rgba(69,69,69,1) 100%);
  }

  .grip-skew {
    height: 50%;
    width: 100%;
  }

  .top-grip-skew {
    transform: skewY(-35deg);
    translate: 0 -25%;
  }

  .bot-grip-skew {
    transform: skewY(35deg);
    translate: 0 25%;
  }

  .inner-grips-container {
    display: flex;
    gap: 12.5%;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 80%;
  }

  .pommel-tint {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .inner-grip {
    position: relative;
    width: 32.5%;
  }

  .middle-square {
    background: linear-gradient(90deg, rgb(126, 126, 126) 0%, rgb(189, 189, 189) 40%, rgb(61, 61, 61) 100%);
    height: 63.56%;
    translate: -10%;
    width: 76.92%;
  }

  .side-skews {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    right: 0;
    width: 35%;
  }

  .inner-top-grip-skew {
    height: 100%;
    position: relative;
    transform: skewY(-40deg);
    translate: 0 20%;
    z-index: 1;
  }

  .inner-bot-grip-skew {
    transform: skewY(40deg);
    height: 100%;
    translate: 0 -20%;
    z-index: 1;
  }

  .top-skew {
    background: linear-gradient(-45deg, rgba(181,181,181,1) 0%, rgba(69,69,69,1) 80%);
    height: 18.22%;
    transform: skew(-15deg);
    translate: -4.5%;
  }

  .bot-skew {
    background: linear-gradient(-135deg, rgb(141, 141, 141) 0%, rgb(43, 43, 43) 80%);
    height: 18.22%;
    transform: skew(15deg);
    translate: -4.5%;
  }
</style>
